extends layout

block content
  h1 Message Board
  .message-board
    if (currentUser)
      a(href="/message/create" class="add-message-btn btn") Add Message
    if messages
      ul(class="messages-list")
        each m in messages
          li(class="message")
            h3
              span Title: 
              | #{m.title}
            p=m.text
            .message-info
              if currentUser && (currentUser.isMember || currentUser.isAdmin)
                span(class="message-author") #{m.user.fullname}
              else
                span(class="message-author") hidden on bush
              span(class="message-timestamp") #{m.timestampFormatted}
