extends layout

block content
  h1 
    if (newUserName)
      | Welcome! #{newUserName}, please Log In
    else
      | Log In
  form(action="", method="post")
    .input-group
      label(for="username") Username
      if loginErrors.username
        span.error= loginErrors.username.message
      input(id="username" name="username" type="text" placeholder="johnwick" required value=requestedUser ? requestedUser : '')
    .input-group
      label(for="password") Password
      if loginErrors.password
        span.error= loginErrors.password.message
      input(id="password" name="password" type="password" required)
    .input-group
      button Log In