/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

/* Remove list styles on ul and ol elements */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* OWN style */

/* global */
:root {
  --primary: #333333;
  --primary-dark: #262626;
  --primary-light: #404040;
  --secondary: #494ca2;
  --secondary-dark: #3f428d;
}

body {
  background: var(--primary);
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

/* main-header */

.main-header {
  height: 60px;
  background: var(--primary-dark);
}

.main-navigation {
  display: flex;
  height: 100%;
  padding: 0 16px;
  justify-content: space-between;
  font-size: 22px;
}

.main-navigation > ul {
  display: flex;
  align-items: center;
}

.main-navigation li,
.main-navigation li > a {
  height: 100%;
}

.main-navigation li > a {
  display: flex;
  height: 100%;
  padding: 0 8px;
  align-items: center;
}

.main-navigation li:hover {
  transition: background 100ms;
  background: var(--primary);
}

.main-navigation > ul li:nth-child(n + 2) {
  margin-left: 16px;
}

/* main */

main > h1 {
  margin-top: 32px;
  line-height: 1;
  text-align: center;
}

.message-board,
form {
  max-width: 900px;
  margin: 32px auto;
  padding: 16px;
  border: 1px solid #808080;
  border-radius: 2px;
  background: var(--primary-light);
}

.messages-list {
  display: grid;
  gap: 16px;
}

.message {
  background: var(--primary);
  border-radius: 4px;
  padding: 8px;
  overflow: hidden;
  box-shadow: 0 0 1px 1px #808080;
}

.message > h3 {
  margin: -8px -8px 0;
  padding: 8px;
  background: var(--primary-dark);
}

.message > p {
  padding: 16px 8px;
  font-size: 18px;
}

.message-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 -8px -8px;
  padding: 8px;
  background: var(--primary-dark);
}

.message-timestamp {
  justify-self: end;
  font-style: italic;
}

.message:hover {
  background: var(--secondary-dark);
  transition: background 100ms;
}

.message:hover h3,
.message:hover .message-info {
  background: var(--secondary);
}

form {
  display: grid;
  gap: 16px;
  justify-items: center;
}

.input-group {
  width: 100%;
  min-width: 280px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.input-group input {
  padding: 4px;
  border: 1px solid #808080;
  border-radius: 4px;
}

button {
  border: 1px solid var(--secondary);
  border-radius: 2px;
  padding: 4px 8px;
  align-self: flex-start;
  background: var(--secondary-dark);
  color: #fff;
  cursor: pointer;
}

.error {
  color: #f38888;
  font-size: 16px;
}
